/* Layout */

header {
    height: 7%;
}

aside {
    height: 14%;
}

.c {
    display: block;
    height: 16.6%;
}

.d {
    display: block;
    height: 16.6%;
}

.e {
    display: inline-block;
    height: 33%;
    width: 49.5%;
}

.f {
    display: inline-block;
    height: 33%;
    width: 49.5%;
}

.g {
    display: inline-block;
    height: 33%;
    width: 49.5%;
}

.h {
    display: inline-block;
    height: 33%;
    width: 49.5%;
}

footer {
    height: 7.5%;
}