/* Layout */

header {
    height: 7%;
    width: 100vw;
}

div.wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

aside {
    width: 100vw;
    height: 14%;
}

main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.c {
    width: 100vw;
    height: 16.6%;
    text-align: center;
}

.d {
    width: 100vw;
    height: 16.6%;
}

.e {
    height: 33%;
    width: 50vw;
}

.f {
    height: 33%;
    width: 50vw;
}

.g {
    height: 33%;
    width: 50vw;
}

.h {
    height: 33%;
    width: 50vw;
}

footer {
    width: 100vw;
    height: 7.5%;
}