/* Module */
p {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
}
header {
    background-color: lightblue;
    border: 1px solid black;
}

aside {
    background-color: lightblue;
    border: 1px solid black;
}

.c {
    background-color: lightblue;
    border: 1px solid black;
}

.d {
    background-color: lightblue;
    border: 1px solid black;
}

.e {
    background-color: lightblue;
    border: 1px solid black;
}

.f {
    background-color: lightblue;
    border: 1px solid black;
}

.g {
    background-color: lightblue;
    border: 1px solid black;
}

.h {
    background-color: lightblue;
    border: 1px solid black;
}

footer {
    background-color: lightblue;
    border: 1px solid black;
}

@media (min-width: 768px) {
    body {
        margin: 0 auto;
    } 

    div.wrapper {
        height: 100%;
        max-width: 960px;
        margin: 0 auto;
    }
   
    header {
        height: 14%;
        background-color: pink;
    }
    main {
        display: flex;
        flex-wrap: wrap;
        height: 64.2vh;
    }
    aside {
        float: left;
        background-color: pink;
        width: 20%; 
        height: 85.7%;
    }
    .c {
        background-color: pink;
        width: 50%;
        height: 44.4%;
        text-align: center;
    }
    .d {
        background-color: pink;
        width: 50%;
        height: 44.4%;
    }

    .e {
        background-color: pink;
        width: 25%;
        height: 55.5%;
    }

    .f {
        background-color: pink;
        width: 25%;
        height: 55.5%;
    }

    .g {
        background-color: pink;
        width: 25%;
        height: 55.5%;
    }

    .h {
        background-color: pink;
        width: 25%;
        height: 55.5%;
    }

    footer {
        background-color: pink;
        width: 80%;
        height: 21.4%
    }
}